/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.container-home {
    width: 12rem;
}

h1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
}

p {
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.13px;
    text-align: center;
    color: var(--charcoal-grey);
}

button {
    padding: 0.5rem 0;

    border-radius: 1.8px;
    background-color: var(--greeny-blue);
    border: none;

    font-family: Roboto;
    font-size: 9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-two);
}